:host {
    margin: 10px;
    padding: 4px 8px;
    border: solid 1px #aaa;
    min-width: 200px;
}

h4 {
    font-size: 1.4em;
}

.img {
    text-align: center;

    img {
        height: 80px;
    }
}
